.share-page {
  text-align: center;
  background: #16a085;
  color: #efefef;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 48px 0;
}

.share-page a {
  font-weight: 700;
  color: #fff;
  margin-left: 10px;
}

.share-page a:hover {
  border-bottom: 1px dashed #fff;
}
