<!-- Header -->
<header id="header">
  <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
	<nav class="links">
		{% assign posts = site.posts | where:"guid", page.guid | sort: 'path' %}
		{% if posts.size == 0 %}
			{% assign posts = site.pages | where:"guid", page.guid | sort: 'path' %}
		{% endif %}
    <ul>
    	{% for post in posts %}
    		<li class="lang">
    			<a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
    		</li>
    	{% endfor %}
		</ul>
	</nav>
	<nav class="main">
    <ul>
                <!--
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
              -->
		  <li class="menu">
		  	<a class="fa-bars" href="#menu">Menu</a>
			</li>
		</ul>
	</nav>
</header>

<!-- Menu -->
<section id="menu">
	<section>
	  <ul class="links">
	    {% for post in posts %}
    		<li class="lang">
    			<a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang | upcase }}</a>
    		</li>
    	{% endfor %}
			</li>
    </ul>
	</section>
	<!-- Actions -->
  <!--
  <section>
	  <ul class="actions vertical">
	    <li><a href="#" class="button big fit">Log In</a></li>
    </ul>
  </section>
  -->
</section>
